body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

header {
    background: #222;
    color: white;
    text-align: center;
    padding: 30px;
}

section {
    padding: 20px;
}

h2 {
    color: #333;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    display: inline-block;
    background: #222;
    color: white;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
}

.card {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0px 0px 8px gray;
}

footer {
    text-align: center;
    background: #222;
    color: white;
    padding: 10px;
}